@model CategoryCreateVM




<div class="container mt-3">
    <form class="form-sample" method="post" asp-action="Create">
        <div class="form-group">
            <label>Category</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Category name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <button type="submit" class="btn btn-success mr-2">Create</button>
        <a asp-action="Index"  asp-controller="Category" class="btn btn-primary">Back</a>
    </form>
</div>

